services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: portfolio
    restart: unless-stopped
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portfolio.rule=Host(`kresnapangestu.com`) || Host(`www.kresnapangestu.com`)"
      - "traefik.http.routers.portfolio.entrypoints=http"
      - "traefik.http.services.portfolio.loadbalancer.server.port=3000"
      - "traefik.docker.network=traefik-public"

networks:
  traefik-public:
    external: true
